extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      h1 !{quiz.name}
      .btn-group(role='group')
        .btn-group(role='group')
          button#addQuestion.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', type='button') Add question
          .dropdown-menu(aria-labelledby='addQuestion')
            a.dropdown-item(href='/new-question?quiz=' + quiz._id) Create new
            a.dropdown-item(href='#') Add from question bank
        a.btn.btn-secondary(href='/attempt/' + quiz._id) Attempt
        a.btn.btn-secondary(href='/quiz/' + quiz._id + '/results') Scoreboard
        button.btn.btn-secondary(onclick='deleteQuiz()') Delete

  .container
    each question, index in quiz.questions
      .card.mb-3
        .card-body
          .d-flex
            h5.card-title Question !{index}
            button.ml-auto.btn.btn-secondary Edit
            button.ml-2.btn.btn-secondary(onclick='deleteQuestion(' + index + ')') Delete
          p.card-text= question.stem
          hr
          h5.card-title Key
          p.card-text= question.key

  script.
    function deleteQuiz() {
      if (!confirm("Are you sure?")) return;
      window.location.replace('/quiz/#{quiz.id}/delete');
    }

    function deleteQuestion(index) {
      if (!confirm("Are you sure?")) return;
      window.location.replace('/quiz/#{quiz.id}/delete-question/' + index);
    }
